body {
  --red: #ef5945;
  --blue: #51bdc4;
  --skin: #fffac7;
  --yellow: #ece74f;
  --green: #819e49;
  --black: #2e0943; 
}

body, body *, body *::before, body *::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
}

.scene {
  top: 50vh; 
  left: 50vw;
  width: 350px; 
  height: 450px;
  border: 4px solid var(--black);
  border-radius: 4px;
  translate: -50% -50%;
}